// Veriables
$primary-color : #4042ef;
$secondary-color : #e7691e;
$thirdy-color : #2f3945;


// Reset CSS
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

// Parameters
.container{
    width: 60%;
    margin: 0 auto;
}
