@media (max-width: 767.98px) {
    #menu-btn-block{

        display: block;
    }

    #menu{

        display: none !important;
        flex-direction: column;
    }
}



@media (min-width: 767.99px) {
    #menu-btn-block{
        display: none;
    }

    #menu{
        display: block;
    }
}
