@model VmHome

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Bootstrap cdn -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <!-- Font Awasome -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />

    <link rel="stylesheet" href="~/assets/css/style.css" />

    <title>Document</title>
  </head>
  <body>
    <header class="container-md">
      <nav class="row align-items-center">
        <div id="logo" class="col-2"><a asp-controller = "Home" asp-action = "Index" class="fs-4 text-dark">@Model.settings.Logo</a></div>
        <div class="col-10 d-flex justify-content-between">
          <ul id="menu" class="d-flex justify-content-between align-items-center">
            <li ><a class="text-dark" asp-controller = "Home" asp-action = "Index">Home</a></li>
            <li ><a asp-controller = "About" asp-action = "Index">About</a></li>
            <li><a asp-controller = "Shop" asp-action = "Index" >Shopp</a></li>
          </ul>
          <button class="btn btn-outline-dark">
            <i class="fas fa-shopping-cart"></i>
            Cart
            <span class="badge rounded-pill bg-dark">@Model.CartCount</span>
          </button>
        </div>
      </nav>
    </header>

   
  @RenderBody()
  
    <footer class="d-flex bg-dark text-white justify-content-center align-items-center">
      <p>Copyright © Your Website 2021</p>
    </footer>
  </body>
</html>
