    <main>
      <section id="banner" class="bg-dark d-flex align-items-center justify-content-center">
        <div id="banner-text">
          <h1 class="text-center text-white fw-bold display-4">Shop in style</h1>
          <p class="text-white-50 text-center mt-3">With this shop hompeage template</p>
        </div>
      </section>
      <section id="Shopping" class="container-md my-5">
        <div class="row">
          <div class="col-3">
            <div class="card" style="width: 18rem">
              <img src="..." class="card-img-top" alt="..." />
              <div class="card-body">
                <h5 class="card-title text-center mb-3">Card title</h5>
                <div class="card-stars d-flex justify-content-center mb-3">
                  <div
                    class="stars-wrapper d-flex justify-content-between w-30"
                  >
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star text-warning"></i>
                    <i class="fas fa-star text-warning"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                  </div>
                </div>
                <p class="card-text text-center mb-3">$29</p>
                <div class="d-flex justify-content-center">
                  <a href="#" class="btn btn-outline-dark">Add to cart</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>