@model List<Category>

    <div class="container-fluid">
        <h2 class = "mb-5">Categories</h2>
        <a class = "btn btn-primary mb-3" asp-area = "admin"  asp-controller = "Category" asp-action = "Create">Create New Category</a>
        <table class="table w-50">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Modify</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int i = 1;
                    foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@i</th>
                            <th>@item.Name</th>
                            <td>
                                <a class = "btn btn-primary" asp-area = "admin" asp-controller = "Category" asp-action = "Update" asp-route-id = "@item.Id">Update</a>
                                <a class = "btn btn-danger" asp-area = "admin" asp-controller = "Category" asp-action = "Delete" asp-route-id = "@item.Id">Delete</a>
                            </td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>
    </div>