* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
}

.container {
  margin: 0 auto;
}

.grid-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container > div {
  text-align: center;
  padding: 20px;
}

.grid-container > div .img-block {
  width: 100%;
  height: 350px;
  border-radius: 20px;
  padding: 20px;
  border: 5px solid;
}

.grid-container > div .img-block img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.grid-container > div h1 {
  width: 50%;
  font-size: 3em;
}

.grid-container > div h3 {
  margin-top: 10px;
  font-size: 2em;
  text-transform: capitalize;
}

.grid-container > div h4 {
  font-size: 1em;
  margin-top: 10px;
  font-weight: 100;
}

#header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

#header h1 {
  width: 50%;
}

.col-1 {
  width: 8.33%;
}

.col-2 {
  width: 16.66%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33%;
}

.col-5 {
  width: 41.66%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33%;
}

.col-8 {
  width: 66.66%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33%;
}

.col-11 {
  width: 91.66%;
}

.col-12 {
  width: 100%;
}

#expert-1 h3,
#expert-4 h3 {
  font-size: 2em;
  text-transform: capitalize;
}

#expert-1 h4,
#expert-4 h4 {
  color: #fc5421;
}

#expert-1 .img-block,
#expert-4 .img-block {
  border-color: rgba(250, 133, 98, 0.397);
}

#expert-2 h4 {
  color: #37fd69;
}

#expert-2 .img-block {
  border-color: rgba(55, 253, 104, 0.322);
}

#expert-3 h4 {
  color: #979797;
}

#expert-3 .img-block {
  border-color: rgba(187, 184, 184, 0.425);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 1201px) {
  .container {
    width: 1500px;
  }
}

@media only screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
}

@media only screen and (max-width: 992px) {
  * {
    font-size: 14px;
  }
  #header h1 {
    width: 100%;
  }
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  * {
    font-size: 12px;
  }
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */